.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.carousel-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.carousel-wrapper {
  display: flex;
  width: 100%;
  position: absolute;/*Este es el position original*/
}

.carousel-content-wrapper {
  z-index:1;
  width: 100%;
  height: 100%;
}

.carousel-content {
  display: flex;

  transition: all 250ms linear;
  -ms-overflow-style: none;  /* hide scrollbar in IE and Edge */
  scrollbar-width: none;  /* hide scrollbar in Firefox */
}

/* hide scrollbar in webkit browser */
.carousel-content::-webkit-scrollbar, .carousel-content::-webkit-scrollbar {
  display: none;
}

.carousel-content > * {
  width: 90%;
  flex-shrink: 0;
  flex-grow: 1;
  
}

.left-arrow, .right-arrow {
  
  z-index: 1;
  margin-top: -25vh;
  width: 48px;
  
  display: inline-block;
  position: absolute;
  
}

.left-arrow {
  left: 34px;
}

.right-arrow {
  right: 34px;
}
/* ... */

.carousel-content.show-2 > * {
  width: calc(92% /2);
}

.carousel-content.show-3 > * {
  width: calc(88% / 3);
}

.carousel-content.show-4 > * {
  width: calc(84% / 4);
}
/* ... */
.divProdFlecha{
  width: calc(100%);
}

.contenedorFlechas{
  display: flex;
  width: 90%;
  
 
}

.right-arrowCont{
  float: right;
}

img.right-arrow:hover, img.left-arrow:hover{
  transform: scale(1.2);
}



@media only screen and (min-height: 900px) {
  .left-arrow, .right-arrow {
  
      margin-top: -15vh;
      
  }
  .productosTitle {
      height: 10vh;
  }

}

.carousel-bands{
  overflow-x: hidden;
    padding: 10px;
}